# Dependencias
node_modules/

# Build
dist/
.output/
.cache/

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configuración local
.DS_Store
.env
.env.local
.env.*.local

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de lock opcionales (si no querés subirlos)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
