---
import BaseLayout from "../layouts/BaseLayout.astro";
import Contacto_2 from "../components/Contacto.astro";
import bg_image from "../img/Fondo.jpg";
---

<BaseLayout title="Estudio Jurídico | Nueva Celina & Asoc.">
  <!-- Fondo fijo detrás (robusto en iOS) -->
  <div
    aria-hidden="true"
    class={`fixed left-0 right-0 top-0 bottom-0 -z-10 bg-center bg-cover bg-no-repeat`}
    style={`background-image:url('${bg_image.src}');`}
  >
  </div>
  <!-- Capa de oscurecimiento para legibilidad -->
  <div class={`fixed left-0 right-0 top-0 bottom-0 -z-10 bg-azulProfundo/80`}>
  </div>

  <!-- Viñetas / degradados sutiles -->
  <div class="pointer-events-none absolute inset-0 -z-0">
    <div
      class="absolute inset-x-0 top-0 h-24 bg-gradient-to-b from-black/20 to-transparent"
    >
    </div>
    <div
      class="absolute inset-x-0 bottom-0 h-24 bg-gradient-to-t from-black/20 to-transparent"
    >
    </div>
  </div>
  
  <Contacto_2 />
</BaseLayout>
