---
import "../styles/tailwind.css";
import AOS from "aos";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import logo from "../img/Logo.png";
import logoRedondo from "../img/Logo_3.png";
import fondo from "../img/Fondo.jpg";

const { title = "Sitio" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href={logoRedondo.src} />
    <title>{title}</title>

      <script is:inline>
      import AOS from "aos";
      document.addEventListener("astro:page-load", () => {
        AOS.init({
          duration: 700,
          easing: "ease-out-quart",
          once: true,
          offset: 80,
        });
      });
    </script>

  </head>
  <body class="flex flex-col min-h-screen bg-white text-slate-900">
    <Header />
    <main class="flex-1">
      
     <slot />   
    </main>
    <Footer />
  </body>
</html>
